
/*Added this body padding if using a fized nav bar*/
body { padding-top: 60px; }

/*
.navbar-nav > li > a, .navbar-brand {padding-top:5px !important; padding-bottom:0px !important;}
.navbar {min-height:25px !important}
*/

p.touch{
	cursor: pointer;
}


.double_input{
	max-width: 200px;
	
}

.hidden_div{
	display: none;
}

.myHR{
	background-color: gray;
	margin-top: 40px;
	margin-bottom: 7px;
	padding: 1px 10px 1px 20px;
}

.bold_text{
	font-weight: bolder;
}

p{
	margin-bottom: 2px;
}

.edit_icon{
	cursor: pointer;
}

.price_display{
	color: blue;
}

.standard_err_message{
	margin-bottom: 8px;
	border-radius: 3px;
	display: none;
}

/* .caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
} */

/* .caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
  } */

.component{
	/* color: blue; */
	color: #F06018;
}

hr { 
	position: relative; 
	top: 20px; 
	border: none; 
	height: 4px; 
	background: black; 
	margin-bottom: 50px; 
} 


/*
.navbar{
 	background-color: #3861FD;
	border-color: #3861FD; 

}
*/

.fsl_input{
	background-color: hsla(120, 100%, 50%, 0.3);

}



#category_select{
	margin-bottom: 5px;
	padding-top: 3px;
	padding-bottom: 4px;
}

#lookupText{
	margin-bottom: 5px;
}

.save_button{
	margin-right: 5px;
}

.save_new_button{
	margin-right: 5px;
}

.renowalk_component{
	color: #F06018;
}

.renowalk_comment_label{
	color: #F06018;
}

p.name{
	font-weight: bold;
	/* padding: 0px; */
	
}

.pad_form{
	border-style: solid;
	border-color: gray;
	padding: 10px;
}

/*
#user_info{
	margin: 0px;
	padding: 0px;
}
*/

#result_count{
	margin-left: 5px;
	background-color: green;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 7px;
	padding-right: 7px;
	color: white;
}
.checkbox{
	margin: 0px;
	padding: 0px;
}
.mySpacer{
	height:50px;
	background-color: transparent;
}
.info_header{
	border-style: solid;
	border-color: darkgray;
	border-width: 1px;
	padding: 5px;
	margin-bottom: 7px;
}
.header_text{
	font-weight: bold;
}

#myalert {
    position:fixed; 
    top: 60px; 
    left: 20px; 
    z-index:9999; 
}

.warning_menu_item{
	background-color: red;
}

.checklist_checkbox{
	margin-bottom: 10px;
	
}
.checklist_checkbox_label{
	font-size: large;
}
.navbar-inverse{
	margin: 0px;
}

.component_name{
	/* color: blue; */
	font-weight: bold;
}

.first_table_column{
	width: 30px;
}


#lookup_error{
	display: none;
	color: red;
}

#logout_menu_item{
	display: none;
}

#search_block{
	display: none;
}

#sign_up_form{
	display: none;
}

#reset_password_form{
	display: none;
}

#forgot_password_form{
	display: none;
}

#copy_comments_button{
	margin-bottom: 20px;
}

#clear_comments_button{
	margin-bottom: 20px;
	margin-left: 30px;
}

#comments_form{
	display: none;
}

.highlight{
	background-color: yellow;
}

#login_form{
	display: none;
}

/* .third_table_column{
	width: 50px;
} */

.pad_overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: gray;
	opacity: 0.5;
	z-index: 1;
	visibility: hidden;
	padding: 70px 0;
	text-align: center;
}

.database_id_label{
	font-weight: bold;
}


.pad_form{
	
	position:relative;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  z-index: 10;
  /* margin: 0 auto; */
  display: inline-block; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* .pad_form{
	background-color: green;
	display:none;
} */